langchain
ipykernel
langchain_community
pypdf
beautifulsoup4
arxiv
pymupdf
wikipedia
langchain-text-splitters
python-dotenv
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
chromadb
langchain_chroma 
langchain-openai
langchain-groq
langchain-core
beautifulsoup4
streamlit
fastapi
uvicorn
langserve
sse_starlette
# pip install -r requirements.txt